body{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
h1{
    text-align: center;
    margin: 50px;
    width: 100%;
}
#container{
    margin: 0 auto;
}
.card-container {

background-color:rgba(167, 174, 172, 0.2);
flex-direction: column;
display: flex;
height: 100%;
width: 20%;
}
.card-content{

    height: 50%;
    margin: 0%;
}
img{

    width: 100%;
    height: 50%;
}
.card {

height: 100%;
display: flex;
}
 

