* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgb(243, 215, 210);
}
ul {
    list-style: none;
}
li{
    margin: 2px 20px;
    padding: 0 10px;
    border: none;
    background-color: cornflowerblue;
}
a {
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: capitalize;
    color #ffff;
}
a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    letter-spacing: 20px;
    font-size: 1.5rem;
    background-color: coral;
}

