.container{
    display: flex;
    border: 1px solid;
    width: 100%;
    height: 80px;
}
div{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.box01{
    background-color: blueviolet;
}
.box02{
    background-color:cornflowerblue;
}
.box03{
    background-color: crimson;
}