.container01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid;
    width: 100%;
    height: 80px;
}
.container02{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid;
    width: 100%;
    height: 80px;
}
.container03{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 100%;
    height: 80px;
}.container04{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid;
    width: 100%;
    height: 80px;
}
div{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.box01{
    background-color: blueviolet;
}
.box02{
    background-color:cornflowerblue;
}
.box03{
    background-color: crimson;
}