*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(imagem/dogs.jpg);
    font-family: 'segoe ui', verdana, sans-serif;
    color: #888383;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: 250px 0 20px 150px;

}
.title {
    font-size: 80px;
}
.subtitle {
    margin: 20px 0 50px 0;
    font-size: 30px;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #888383;
    color: white;
    text-decoration:none;
    font-size: 20px;
    border-radius: 5px;
}
