table, th, td {
    border: 1px solid black;
    text-align: center;
}
table{
    width: 800px;
}
tfoot {
    font-weight: 700;
    background-color: #ff6347;
    color: #fff;
    font-size: 20px;
}